:root {
    /* --main-color: #8e44ad; */
    --main-color: #3369a7;
    --red: #e74c3c;
    --orange: #f39c12;
    --light-color: #888;
    --light-bg: #eee;
    --black: #2c3e50;
    --white: #fff;
    --border: .1rem solid rgba(0, 0, 0, .2);
}

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: flex;

}

.navlinks li {
    padding: 20px;
    list-style: none;
    transition: .2s linear;
}

.navlink li a {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

a {

    font-size: 20px;
    color: var(--white);
    text-decoration: none;
}

.navlinks li :hover {
    background-color: var(--white);
    color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    /* top: 0;  */
    left: 0;
    width: 25rem;
    background-color: var(--white);
    height: 100vh;
    border-right: var(--border);
    z-index: 1200;
}

.profile {
    padding: 3rem 2rem;
    text-align: center;
}

.profile img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile h3 {
    font-size: 2rem;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile p {
    font-size: 1.6rem;
    color: var(--light-color);
    margin-bottom: 1rem;
}

.nav {
    padding-left: 43px;
    display: block;
    padding: 2rem;
    font-size: 2rem;
    padding-right: 0;
}

.nav a {
    font-size: 2rem;
    display: block;
    padding: 2rem;
}

.nav a i {
    margin-right: 1.5rem;
    color: var(--main-color);
    transition: .2s linear;
}

.nav a span {
    color: var(--light-color);
}


.nav a:hover {
    background-color: var(--light-bg);
    margin-right: 0;
}

.nav a:hover i {

    margin-right: 2.5rem;
}

.btn {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.btn:hover {
    background-color: var(--black);
}